@model PhysioWeb.Models.PropertyTypeMaster
@{
    ViewBag.Title = "Property Type";
}
<h3>Property Type</h3>

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow p-4" style="width: 400px;">
        <h4 class="mb-4 text-center">Category Master</h4>

        <form method="post">
            <div class="mb-3">
                <label for="propertyType" class="form-label">Property Type</label>
                @Html.TextBoxFor(m => m.PropertyType, new { @class = "form-control", placeholder = "Enter property type" })
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4, placeholder = "Enter description" })
            </div>

            <div class="form-check mb-3">
                @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input", id = "isActive" })
                <label class="form-check-label" for="isActive">Is Active</label>
            </div>

            <button type="button" class="btn btn-primary" id="btnSave">Submit</button>
        </form>
        <div id="resultMsg" class="mt-3 text-center"></div>
    </div>
</div>

@section Scripts {
    <script>

        $("#btnSave").on("click",function(){
            var PropertyType = $("#PropertyType")
            if(PropertyType.val() == ""){
                PropertyType.focus();
                notyf.error("Please Enter Product Type");
            }
            else{
            $.ajax({
                url: '/Master/SavePropertyType', 
                method: 'POST',
                data: $("form").serialize(),
                success: function (response) {
                    if (response) {
                        notyf.success("Product Type Added Successfully");
                    } else {
                        notyf.error(response.message || "Failed to save.");
                    }
                },
                error: function () {
                    notyf.error("Some Error Occurred While Saving");
                }
            });

            }

        });


    </script>
}