@model PhysioWeb.Models.PropertyTypeMaster
@{
    ViewBag.Title = "Property Type";
}
@* <h3>Property Type</h3> *@
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" />
<style>
</style>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Add New Property Type</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">All Property Types</button>
    </div>
</nav>

<div class="container-fluid relative animatedParent animateOnce">
    <div class="tab-content pb-3" id="v-pills-tabContent">

        <!-- Add New Property Type Tab -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form method="post">
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mb-4">
                                    <label for="propertyType" class="form-label">Property Type</label>
                                    @Html.TextBoxFor(m => m.PropertyType, new { @class = "form-control", placeholder = "Enter property type" })
                                </div>

                                <div class="form-group mb-4">
                                    <label for="description" class="form-label">Description</label>
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4, placeholder = "Enter description" })
                                </div>

                                <div class="form-check mb-4">
                                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input", id = "isActive" })
                                    <label class="form-check-label" for="isActive">Is Active</label>
                                </div>

                                <button type="button" class="btn btn-primary" id="btnSave">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row my-3">
                <div class="col-md-12">
                    <div class="card no-b">
                        <div class="card-header white d-flex justify-content-between">
                            <h4>All Property Types</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="TableList" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Property Type</th>
                                            <th>Description</th>
                                            <th>InActive</th>
                                            <th>Created By</th>
                                            @* <th width="3%"><span style="font-size: 20px" class="icon icon-history" title="History"></span></th>
                                            <th width="3%"><span style="font-size: 20px;" class="icon icon-pencil" title="Edit"></span></th>
                                            <th width="3%"><span style="font-size: 20px;" class="icon icon-trash" title="Delete"></span></th> *@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Data will be loaded here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <script>

           $(document).ready(function () {

            $('#TableList thead tr').clone(true).appendTo('#TableList thead');

            $('#TableList thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (title !== "" && title !== "History" && title !== "Edit" && title !== "Delete") {
                    $(this).html('<input class="form-control form-control-sm" type="text" placeholder="' + title + '" />');
                } else {
                    $(this).html("");
                }
            });

            var TableList = $("#TableList").DataTable({
                orderCellsTop: true,
                processing: true,
                serverSide: true,
                order: [[0, "asc"]],
                ajax: {
                    url: '/Master/ListPropertyType',
                    type: 'POST' , 
                    dataSrc: 'aaData'
                },
                columns: [
                    { data: 'PropertyType' },
                    { data: 'Description' },
                    { data: 'InActiveText' },
                    { data: 'CreatedBy' },
                    // {
                    //     data: null,
                    //     render: function (data, type, full, meta) {
                    //         var para = full.UniquId + ',' + '"Master"' + ',' + '"PropertyType"';
                    //         return "<a href='javascript:void(0)' onclick='ViewHistory(" + para + ")'><span class='icon-history' title='History' style='font-size: 24px'></span></a>";
                    //     },
                    //     orderable: false,
                    //     searchable: false
                    // },
                    // {
                    //     data: null,
                    //     render: function (data, type, full, meta) {
                    //         var para = full.UniquId + ',' + '"Master"' + ',' + '"EditPropertyType"';
                    //         return "<a href='javascript:void(0)' onclick='EditData(" + para + ")'><span class='icon-pencil' style='font-size:24px'></span></a>";
                    //     },
                    //     orderable: false,
                    //     searchable: false
                    // },
                    // {
                    //     data: null,
                    //     render: function (data, type, full, meta) {
                    //         var para = full.UniquId + ',' + '"PropertyType"' + ',' + '"PropertyTypeID"';
                    //         return "<a href='javascript:void(0)' onclick='delEntryCheck(" + para + ")'><span class='icon-trash-o' style='font-size:24px'></span></a>";
                    //     },
                    //     orderable: false,
                    //     searchable: false
                    // }
                ],
                initComplete: function () {
                    let table = this.api();

                    $('#TableList thead').on('input', 'input', function () {
                        table
                            .column($(this).parent().index())
                            .search(this.value)
                            .draw();
                    });
                }
            });

        });


        $("#btnSave").on("click",function(){
            var PropertyType = $("#PropertyType")
            if(PropertyType.val() == ""){
                PropertyType.focus();
                notyf.error("Please Enter Product Type");
            }
            else{
            $.ajax({
                url: '/Master/SavePropertyType',
                method: 'POST',
                data: $("form").serialize(),
                success: function (response) {
                    if (response) {
                        notyf.success("Product Type Added Successfully");
                    } else {
                        notyf.error(response.message || "Failed to save.");
                    }
                },
                error: function () {
                    notyf.error("Some Error Occurred While Saving");
                }
            });

            }

        });


    </script>
}