@* visible to All *@

@{
	ViewData["Title"] = "Home Page";
}

<h1>This is My Home Page</h1>
<a class="nav-link text-light btn btn-primary btn-sm" asp-controller="PropertyDetails" asp-action="Property">Go to Some Property</a>
